search-agent-workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "5722c033-f74d-4dd1-a47a-f3ee991a3330",
      "name": "When chat message received",
      "webhookId": "b261f419-f3e9-4b32-91e2-aee6fe29b12a"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You have a tool called \"Search Google\".\nWhenever the user asks for information about places, locations, suggestions, or anything that requires internet, ALWAYS call the Search Google tool.\nDo NOT reply with “I cannot browse the internet”.\nYour job is: if the user asks anything about real-world places, call the Search Google tool with appropriate query.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        288,
        0
      ],
      "id": "e806604a-3837-4236-8467-ebff7cca062c",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        384,
        288
      ],
      "id": "47e03785-5185-4509-b4e2-7a3572251d33",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        160,
        240
      ],
      "id": "ef89bac2-1fa6-4fb0-b343-3427d5cbf462",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_GEMINI_CREDENTIAL_ID",
          "name": "Google Gemini (PaLM) API"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "This tool searches Google using SerpAPI. Use it whenever the user asks for any information, best places, restaurants, news, etc.\n\n",
        "url": "https://serpapi.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.chatInput }}"
            },
            {
              "name": "engine",
              "value": "google"
            },
            {
              "name": "api_key",
              "value": "YOUR_SERPAPI_KEY"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        592,
        224
      ],
      "id": "5362822c-e397-482a-bfcf-09bcffe5e44c",
      "name": "Search Google"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Search Google": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "3c0fa9c8-7802-4c1c-85dd-0522ff973dd1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bc7a5f803cb368a8263e2c1344be4e927db699de08f06202ac65757cce59f9fd"
  },
  "id": "UnkaORNWpQDmwOKC",
  "tags": []
}
